.card {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: yellow;
}

.card1 {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: palevioletred;
}

img {
  width: 100%;
  border-radius: 25px;
}

h2 {
  color: #d56f3e;
  font-style: italic;
}

span {
  color: #9d6f24;
}

h4 {
  text-align: right;
  color: rgb(30, 5, 5);
  font-weight: 900;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

body {
  background: url(field.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: aquamarine;
}
